.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(2, 172, 2);
    margin-top: 150px;
    margin-left: 630px;
    position: absolute;
    z-index: 0;
}
.line1{
    width: 65px;
    height: 15px;
    background-color: white;
    margin-left: 660px;
    margin-top: 250px;
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
}
.line2{
    width: 120px;
    height: 15px;
    background-color: white;
    margin-left: 690px;
    margin-top: 230px;
    position: absolute;
    z-index: 1;
    transform: rotate(-45deg);
}
h1{
    color: green;
    text-align: center;
}
h3{
    color: green;
    text-align: center;
}
.text{
    position: absolute;
    z-index: 3;
    margin-top: 350px;
    margin-left: 610px;
}
p{
    text-align: center;
    color: black;
}
a{
    color: green;
    font-size: large;
    text-decoration: none;
}